[submodule "warm"]
	path = frontend/warm
	url = https://github.com/notaz/warm.git
[submodule "libchdr"]
	path = libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/Krush206/libpicofe
	branch = r23
